{% extends 'base.html.twig' %}

{% block title %}Réservation hotel
{% endblock %}

{% block body %}
	<style>
		/*===== SLIDER THREE =====*/
		.slider-three {
			background-color: var(--light-2);
			padding-top: 112px;
			padding-bottom: 130px;
		}
		.slider-three .section-title .title {
			font-size: 44px;
			line-height: 55px;
			font-weight: 600;
			color: var(--black);
		}
		@media(max-width: 767px) {
			.slider-three .section-title .title {
				font-size: 28px;
				line-height: 32px;
			}
		}
		.slider-three .section-title .text {
			color: var(--dark-3);
			margin-top: 24px;
		}
		.slider-three .slider-items-wrapper {
			position: relative;
		}
		.slider-three .slider-items-wrapper .tns-nav {
			width: 100%;
			z-index: 2;
			display: flex;
			justify-content: center;
			margin-top: 40px;
		}
		.slider-three .slider-items-wrapper .tns-nav button {
			width: 10px;
			height: 10px;
			border-radius: 50px;
			background-color: var(--primary);
			opacity: 0.5;
			border: 0;
			margin: 0 5px;
			-webkit-transition: all 0.4s ease-out 0s;
			-moz-transition: all 0.4s ease-out 0s;
			-ms-transition: all 0.4s ease-out 0s;
			-o-transition: all 0.4s ease-out 0s;
			transition: all 0.4s ease-out 0s;
		}
		.slider-three .slider-items-wrapper .tns-nav button.tns-nav-active {
			width: 20px;
			opacity: 1;
			border-radius: 5px;
		}
		.slider-three .single-items-one {
			margin-top: 40px;
		}
		.slider-three .single-items-one img {
			width: 100%;
			box-shadow: var(--shadow-2);
			border-radius: 10px;
		}

		.background-image {
			background-image: url("img/hotel_couverture2.jpg");
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}

	</style>
	<header class="py-5 background-image dark-overlay">
		<div class="container px-5">
			<div class="row gx-5 align-items-center justify-content-center">
				<div class="col-lg-8 col-xl-7 col-xxl-6">
					<div class="my-5 text-center text-xl-start">
						<h1 class="display-5 fw-bolder text-white mb-2">Hotel cinq étoiles simplement confortable
						</h1>
						<p class="lead fw-normal text-white-50 mb-4">Un séjour sans tracas, facile et confortable grâce à une hospitalité authentique !
						</p>
						<div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
							<a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Réserver</a>
							<a class="btn btn-outline-light btn-lg px-4" href="#!">Savoir plus</a>
						</div>
					</div>
				</div>
				<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="img/hotel_couverture_chambre.jpeg" alt="..."/></div>
			</div>
		</div>
	</header>
	<!-- Features section-->
	<section class="py-5" id="features">
		<div class="container px-5 my-5">
			<div class="row gx-5">
				<div class="col-lg-4 mb-5 mb-lg-0">
					<h2 class="fw-bolder mb-0">Espaces de r</h2>
					<img class="img-fluid rounded-3 my-5" src="img/hotel_plage.jpg" alt="..."/>
				</div>
				<div class="col-lg-8">
					<div class="row gx-5 row-cols-1 row-cols-md-2">
						<div class="col mb-5 h-100">
							<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
								<i class="bi bi-collection"></i>
							</div>
							<h2 class="h5">Chambres</h2>
							<p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
						</div>
						<div class="col mb-5 h-100">
							<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
								<i class="bi bi-building"></i>
							</div>
							<h2 class="h5">Restauration</h2>
							<p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
						</div>
						<div class="col mb-5 mb-md-0 h-100">
							<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
								<i class="bi bi-toggles2"></i>
							</div>
							<h2 class="h5">Spa</h2>
							<p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
						</div>
						<div class="col h-100">
							<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
								<i class="bi bi-toggles2"></i>
							</div>
							<h2 class="h5">Plages</h2>
							<p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== SLIDER THREE PART START ======-->
	<section class="slider-three bg-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h3 class="title">Réservations</h3>
						<p class="text">
							Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!
						</p>
					</div>
					<!-- section title -->
				</div>
			</div>
			<!-- row -->
			<div class="slider-items-wrapper">
				<div class="row slider-items-active">
					{% for key, slider in sliders %}
						<div class="col-lg-4">
							<div class="single-items-one">
								<img src="{{ asset('uploads/images/' ~ slider.getPhoto()) }}" alt="Image"/>
								<div class="single-items-one text-center">
									{% if key == 0 %}
										<a href="{{ path('app_chambre') }}" class="btn btn-primary">Réserver une chambre</a>
									{% elseif key == 1 %}
										<a href="" class="btn btn-primary">Trouver un restaurant</a>
									{% else %}
										<a href="" class="btn btn-primary">Réserver un spa</a>
									{% endif %}
								</div>
							</div>
							<!-- single-items-one -->
						</div>
					{% endfor %}
				</div>
				<!-- row -->
			</div>


		</div>
		<!-- container -->
	</section>

	<script>
		// ======== tiny slider for slider-items-active
tns({
autoplay: true,
autoplayButtonOutput: false,
mouseDrag: true,
gutter: 0,
container: ".slider-items-active",
center: false,
nav: true,
navPosition: "bottom",
controls: false,
speed: 400,
controlsText: [
'<i class="lni lni-arrow-left-circle"></i>', '<i class="lni lni-arrow-right-circle"></i>',
],
responsive: {
0: {
items: 1
},

768: {
items: 2
},
992: {
items: 3
}
}
});
	</script>
{% endblock %}
